@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f3f3f3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container ul {
  padding: 10px 0px;
}

/* Header */
header {
  background-color: #222;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }
}
  

.logo {
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ccc;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://reutersinstitute.politics.ox.ac.uk/sites/default/files/styles/banner/public/2022-05/dnr_2022_banner_10.jpg?itok=kDM0xc6k");
  background-size: cover;
  background-position: center;
  padding: 160px 0;
  text-align: center;
}

.hero-title {
  font-size: 48px;
  margin-bottom: 20px;
  color: #fff;
}

.hero-subtitle {
  font-size: 24px;
  color: #fff;
}

/* Category Section */
.categories-section {
  padding: 40px 0;
}

.categories-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.category-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.category-card img {
  width: 300px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
}

.category-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.361);
  opacity: 0;
  transition: opacity 0.3s;
  opacity: 1;
}

.category-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.category-title {
  font-size: 26px;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* News Section */
.news-section {
  padding: 80px 0;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}

@media (min-width: 768px) {
  .news-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .news-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.news-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.news-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s;
}

.news-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.news-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.news-content {
  padding: 20px;
}

.news-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

.news-description {
  font-size: 16px;
  margin-bottom: 20px;
  color: #777;
}

.read-more {
  display: inline-block;
  color: #fff;
  background-color: #2bb1ff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.read-more:hover {
  background-color: #1d8ad6;
}
/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex-basis: 30%;
}

.footer-column h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #fff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #2bb1ff;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #2bb1ff;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
}

.footer-bottom p {
  font-size: 14px;
  color: #fff;
}

@media (max-width: 768px) {
  .footer-column {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}